{{>partials/head}}

<body>
    <form method="post" role="form" action="/">
    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>
    {{>partials/header}}
    <main class="l-main">
        <!--========== HOME ==========-->
        <section class="home" id="home loggedin">
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    <h1 class="home__title">Tasty food</h1>
                    <h2 class="home__subtitle">Try the best food of <br> the week.</h2>
                    <a href="#menu" class="button">View Menu</a>
                </div>

                <img src="/img/home.png" alt="" class="home__img">
            </div>
        </section>

        <!--========== ABOUT ==========-->
        <section class="about section bd-container" id="about">
            <div class="about__container  bd-grid">
                <div class="about__data">
                    <span class="section-subtitle about__initial">About us</span>
                    <h2 class="section-title about__initial">We cook the best <br> tasty food</h2>
                    <p class="about__description">We cook the best food in the entire city, with excellent customer
                        service, the best meals and at the best price, visit us.</p>
                    <a href="#" class="button">Explore history</a>
                </div>
                <img src="/img/about.jpg" alt="" class="about__img">
            </div>
        </section>
        <!--========== SERVICES ==========-->
        <section class="services section bd-container" id="services">
         {{>partials/services}}
        </section>
        <!--========== MENU ==========-->
        
        <section class="menu section bd-container" id="menu">
            <span class="section-subtitle">Chef's Special</span>
            <h2 class="section-title">Menu of the week</h2>
            <div class="menu__container bd-grid">
                {{#entries}}
                <div class="menu__content">
                    
                    <img src="/img/plate4.png" alt="" class="menu__img">
                    <h3 class="menu__name">{{dishName}}</h3>
                    <span class="menu__detail">{{description}}</span>
                    <span class="menu__price">£{{price}}</span>
                    <span class="menu__price">{{ingredients}}</span>
                    <span class="menu__price">{{dishType}}</span>
                    <span class="menu__price">{{advice}}</span>
                    <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                </div>
                {{/entries}}
            </div>
        </section>
        <section class="menu section bd-container" id="menu">
            <span class="section-subtitle">General Menu</span>
            <h2 class="section-title"></h2>
            <div class="menu__container bd-grid">
                <div class="menu__content">
                    <img src="/img/plate1.png" alt="" class="menu__img">
                    <h3 class="menu__name">Barbecue salad</h3>
                    <span class="menu__detail">Delicious dish</span>
                    <span class="menu__price">£18.00</span>
                    <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                </div>
                <div class="menu__content">
                    <img src="/img/plate2.png" alt="" class="menu__img">
                    <h3 class="menu__name">Salad with fish</h3>
                    <span class="menu__detail">Delicious dish</span>
                    <span class="menu__price">£14.00</span>
                    <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                </div>

                <div class="menu__content">
                    <img src="/img/plate3.png" alt="" class="menu__img">
                    <h3 class="menu__name">Spinach salad</h3>
                    <span class="menu__detail">Delicious dish</span>
                    <span class="menu__price">£8.50</span>
                    <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                </div>
            </div>
            
        </section>
        <!--===== APP =======-->
        <section class="app section bd-container">
            <div class="app__container bd-grid">
                <div class="app__data">
                    <span class="section-subtitle app__initial">App</span>
                    <h2 class="section-title app__initial">App is aviable</h2>
                    <p class="app__description">Find our application and download it, you can make reservations, food
                        orders, and perhaps delivery in the future!</p>
                    <div class="app__stores">
                        <a href="#"><img src="/img/app1.png" alt="" class="app__store"></a>
                        <a href="#"><img src="/img/app2.png" alt="" class="app__store"></a>
                    </div>
                </div>
                <img src="/img/movil-app.png" alt="" class="app__img">
            </div>
        </section>
        <!--========== CONTACT US ==========-->
        <section class="contact section bd-container" id="contact">
            <div class="contact__container bd-grid">
                <div class="contact__data">
                    <span class="section-subtitle contact__initial">Let's talk</span>
                    <h2 class="section-title contact__initial">Contact us</h2>
                    <p class="contact__description">If you want to reserve a table in our restaurant, contact us and we
                        will attend you quickly, with our 24/7 chat service.</p>
                </div>
                <div class="contact__button">
                    <a href="#" class="button">Contact us now</a>
                </div>
            </div>
        </section>


        
    </main>
    {{>partials/footer}}

    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!--========== MAIN JS ==========-->
    {{>partials/js}}
</form>
</body>

</html>